extends layout

block content
    h1 Bataille des chiffres
    p=message
    h4.connexion Tableau des scores

    div.row
        div.connexion

            table.table
                tbody#table
                    th Noms
                    th.table-success Pseudos
                    th.table-active Score *

                        each d in data
                            -var liste = d.scores
                            - liste.sort((a, b) => (b - a))
                            tr
                                td=d.nomComplet
                                td=d.pseudo
                                td=liste[0]


div.info
  p Le jeu
  p jeu de bataille de chiffres jouable a deux en lançant les dés.
  p Pour lancer une partie vous devez vous inscrire avec un pseudo unique.
  p Dés que l'image des dés apparait c'est votre tour cliquez pour lancer.
  p Votre score apparait a gauche de l'ecran.
  p Le tableau des scores est indiqué a l'accueil.
  P

  p Bon jeu.



