extends layout

block content
    h1 Bataille des chiffres
    p=message
    h4.connexion Tableau des scores

    div.row
        div.connexion

            table.table
                tbody#table
                    th Noms
                    th.table-success Pseudos
                    th.table-active Score *

                        each d in data
                            tr
                                td=d.nomComplet
                                td=d.pseudo
                                td=d.scores[0]




