block head
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
script(src="/socket.io/socket.io.js")
script(src="/javascripts/jquery.js")
script(src="/javascripts/client.js")

block content
  span
  div.container-fluid
    div.col-md-6
      h4 Le jeu
      p jeu de bataille de chiffre jouable a deux en lançant les dés.
      p Dés que l'image apparait c'est votre tour cliquez pour lancer.
      p Bon jeu.



      a(href="/connexion")  Jouez!
    

  
    

    

