doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")





	body
		block header

			ul.connexion
				li
					a(href="/") Accueil

				li
					a(href="/connexion") Jouez
				li
					a.fa-bitcoin(href="/jeu") A propos
		block content


