block head
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
script(src="/socket.io/socket.io.js")
script(src="/javascripts/jquery.js")
script(src="/javascripts/client.js")

block content
    header
        ul
            li
                a(href="/") Accueil
            li

                a(href="/disconnect/" + player.pseudo) Se deconnecter
                input(type="hidden", value=player.pseudo)

            h1.welcome
    div.container
        div.player
            img(src="/images/" + player.avatar + ".png" alt="avatar")
            span.score
            p.pseudo=player.pseudo
            img.de(src="/images/de.png" )
        div.otherplayer
    .pl1
    .pl2
    .result

            

    