/* ----------------------------
	Login
---------------------------- */

.login {
    padding: 5px;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.login > * {
    width: 100%;

    margin: 0 auto 20px auto;
}

.connexion {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

form > input {
    box-sizing: border-box;
    font-size: 24px;
    padding: 5px;
    border: 5px solid #F44336;
    background-color: #fff;
    border-width: 0 0 5px 0;
    outline: none;
}

button {
    font-size: 20px;
    border: none;
    color: white;
    background-color: #F44336;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
}

h1 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: #1d1d1d;
}



.error {

    color: red
}

header {
    position: absolute;
    left: 33%;

    font-weight: bold;

}

ul {
    padding-top: 20px;
    display: inline-flex;
    text-align: center;
    text-indent: 20px;
    list-style: none;
}

footer {

    position: absolute;

    top: 300px;
}

.espace {

    padding-left: 1.8em;
    margin-right: 1.8em;
}

.input-group-text {

    margin: 1em;
}

.message {
    color: green
}

.card-img-top {
    width: 100%;
    margin: auto;
    z-index: 200;

}

.card {

    width: 8rem;

}

.info {
    border-radius: 5%;
    position: absolute;
    left: 3%;
    border: 1px solid;
    padding: 5px;

    color: black;

}

@keyframes carre {
    0% {
        transform: translateX(0px) rotate(45deg);
    }
    100% {
        transform: translateX(600px) rotate(1turn);
    }
}

#pl1 {

    font-weight: bold;
    font-size: 80px;
    width: 100px;
    height: 100px;
    position: absolute;
    color: #28a745;
    top: 50%;
    left: 30%;
    text-align: center;
    text-justify: auto;

}


@keyframes slide1 {
    from {
        transform: translateX(10%)
    }
    to {
        transform: translateX(70%)
    }
}

@keyframes slide2 {
    from {
        transform: translateX(66%)
    }
    to {
        transform: translateX(20%)
    }
}


.pl2 {


    font-weight: bold;
    font-size: 80px;
    width: 100px;
    height: 100px;
    color: #d39e00;
    position: absolute;
    top: 50%;
    left: 53%;
    text-align: center;
    text-justify: auto;

}


.result {

    animation: 1s;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 33%;
    left: 43%;
    text-justify: auto;
    text-align: center;

}

.resultR {

    animation: 1s;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 33%;
    left: 43%;
    text-justify: auto;
    text-align: center;

}




.anim {
    animation: slide;

}

#player {
    position: absolute;
    top: 50%;
    left: 18%;

}

.otherplayer {
    position: absolute;

    color: #f2c169;

    top: 50%;
    left: 66%;
}

.waitplayer {
    animation: Test 1s infinite;
    color: #7095ff;

}

.wait {
    animation: Test 1s infinite;
    color: red;
}

@keyframes Test {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.score, .of {

    font-weight: bold;

}

.final {

    animation: Test 3s infinite;
    position: absolute;
    border-radius: 10%;
    top: 30%;
    left: 23%;
    background: #20c997;
    color: #b3d7ff;
    font-size: 2em;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #C68335;

}

@keyframes slide {
    0% {
        transform: translateX(400px) rotate(0);
    }
    20% {
        transform: translateX(-50px) rotate(-0.5turn);
    }
    100% {
        transform: translateX(800px) rotate(3turn);
    }
}

.pseudo {

    color: #1c7430;
}

.scorepl1 {

    position: absolute;
    color: #1c7430;
    top: 25%;
    left: 5%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    font-size: 50px;

    text-align: match-parent;
    text-justify: auto;
}

.scorepl2 {
    color: #d39e00;
    position: absolute;
    top: 25%;
    left: 70%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    font-size: 40px;
    text-align: match-parent;
    text-justify: auto;
}