/* ----------------------------
	Login
---------------------------- */

.login {
    padding: 5px;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.login > * {
    width: 100%;

    margin: 0 auto 20px auto;
}

.connexion {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

form > input {
    box-sizing: border-box;
    font-size: 24px;
    padding: 5px;
    border: 5px solid #F44336;
    background-color: #fff;
    border-width: 0 0 5px 0;
    outline: none;
}

button {
    font-size: 20px;
    border: none;
    color: white;
    background-color: #F44336;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
}

h1 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: #1d1d1d;
}



.error {

    color: red
}

header {
    background-color: #b3d7ff;
    font-weight: bold;

}

ul {
    padding-top: 20px;
    display: inline-flex;
    text-align: center;
    text-indent: 20px;
    list-style: none;
}

footer {

    position: absolute;

    top: 300px;
}

.espace {

    padding-left: 1.8em;
    margin-right: 1.8em;
}

.input-group-text {

    margin: 1em;
}

.message {
    color: green
}

.card-img-top {
    width: 100%;
    margin: auto;
    z-index: 200;

}

.card {

    width: 8rem;

}



.cercle {
    position: absolute;
    animation-name: carre;
    animation-duration: 10s;

}

@keyframes carre {
    0% {
        transform: translateX(0px) rotate(45deg);
    }
    100% {
        transform: translateX(600px) rotate(1turn);
    }
}

.player1 {
    position: absolute;
    top: 10%;
    left: 50px;
    border-style: hidden;

}

.player2 {
    position: absolute;
    top: 10%;
    left: 80px;
    border-style: hidden;

}

.pl1 {
    animation-name: slide1;
    font-weight: bold;
    font-size: 50px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 33%;
    left: 33%;
    text-align: center;
    text-justify: auto;
}

@keyframes slide1 {
    0% {
        transform: translateX(0) rotate(0);
    }
    100% {
        transform: translateX(60px) rotate(1turn);
    }
}

.pl2 {

    animation-name: slide2;
    font-weight: bold;
    font-size: 50px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 33%;
    left: 53%;

    text-align: center;
    text-justify: auto;
}

@keyframes slide2 {
    0% {
        transform: translateX(0) rotate(0);
    }
    100% {
        transform: translateX(60px) rotate(1turn);
    }
}

.result {


    font-weight: bold;
    font-size: 20px;

    width: 100px;
    height: 100px;
    position: absolute;
    top: 33%;
    left: 43%;
    text-justify: auto;
    text-align: center;

}

.anim {
    animation: slide;

}

.palyer {
    position: absolute;
    top: 20%;
    left: 20%;

}

.otherplayer {
    position: absolute;
    top: 20%;
    left: 66%;
}

.wait {
    animation: Test 1s infinite;
    color: red;
}

@keyframes Test {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





